[default]
bin    = easycrypt

[test-all]
okdirs = !.

[test-common-joc]
okdirs = common/easycrypt-joc

[test-prf-joc]
okdirs = PRF/easycrypt-joc

[test-prg-pure]
okdirs = PRG/easycrypt/pre-instantiated

[test-prg-modular]
okdirs = PRG/easycrypt/generic-definitions

[test-prg-joc]
okdirs = PRG/easycrypt-joc
